<p>I am {{name}}</p>
=============================
<p [class] = "box">Test class bind</p>
<p [id] = "box1">Test Id bind</p>
<hr>
<h3 [ngClass]="{'a' : isActive}">ngClass bind style</h3>
<hr>
<p [style]="'background : red'">Style test</p>

<hr>
<p [ngStyle]="{'color' : 'red'}">style test by ngStyle</p>
===============================
<hr>
<p>Test if</p>
<div *ngIf="isMax"> isMax === true</div>
<ng-template [ngIf]="isMax">
  <div>
    isMax === true;
  </div>
</ng-template>

<ng-container *ngIf="isMax; else elseTemplate" ]>
  <div>isMax = true</div>
</ng-container>
<ng-template #elseTemplate>
  <div>isMax = false</div>
</ng-template>

==========================
<p>循环语句</p>
<div *ngFor="let color of colors let location = index let isOdd = odd">
  color is {{color}}
  <br>
  index is {{location}}
  <br>
  {{isOdd}}
  <br>
  ----------------
</div>
<!--解析后-->
<ng-template ngFor let-color [ngForOf]="colors" let-i='index' let-odd="odd" ]>
  <div>
    {{color}}
    {{i}}
    {{odd}} <br>
  </div>
</ng-template>
===========================
<div [ngSwitch]="type">
  <p *ngSwitchCase="1">
    type 1
  </p>
  <p *ngSwitchCase="2">
    type 2
  </p>
  <p *ngSwitchDefault>
    type 3
  </p>
</div>
=========================<br>
事件绑定<br>3322
<input type="text" (input)="inputChange($event)">
<button (click)="alertContent($event)">click</button>
<br>
=========================<br>
双向绑定<br>
<input type="text" [(ngModel)]="title">
<p>title : {{title}}</p>

<hr>
age : <input type="text" [formControl]="age">
<br>
<p>age : {{age.value}}</p>
<br>
<button (click)="ageChange()">grow up</button>
<br>
动态表单空间
<form [formGroup]="loginInput">
  <label>
    your account :<br>
    <input type="text" formControlName="name">
  </label>
  <br>
  <label>
    your password :<br>
    <input type="text" formControlName="password">
  </label><br>
  <button (click)="submit()" >submit</button>
</form>
<br>
<p>自定义表验证</p>
<form [formGroup]="formDataTest">
  <label>
    account : <input type="text" formControlName="userName">
  </label>
  <p *ngIf="formDataTest.get('userName')?.errors?.['required']">请输入账号</p>
  <label>
    password : <input type="text" formControlName="password">
  </label><br>
  <label>
    phone : <input type="text" formControlName="phone">
  </label><br>
  <button (click)="submitTest()">submit</button>
</form>
<br>
=====================================
<br>
管道：<br>
{{dateStr | date : 'yyyy-MM-dd HH : mm :ss'}}<br>
{{pipeTest | test}}
<br>
======================================<br>
<button (click)="titleChange()">change title</button>
<p *ngFor="let item of list">{{item}}</p>
<app-title [test1] = "giveToTitle" (addItem) = "addItemForList($event)"></app-title>
